@import url('https://fonts.googleapis.com/css?family=Chilanka|Modak&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('../images/smurfs_0023_Zrzut-ekranu-2017-03-29-o-10.03.25-1400x788.png')
    no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: 'Chilanka', cursive;
}

h1 {
  font-family: 'Modak', cursive;
  font-size: 50px;
  font-weight: normal;
  background-color: white;
  color: #017ed2;
  width: 100%;
  box-shadow: 3px 3px 5px black;
}

.forms-wrapper {
  display: flex;
  align-items: stretch;
  max-width: 1000px;
  margin: 10px auto;
}

span {
  font-weight: bold;
  align-self: center;
}

.smurf-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  max-width: 500px;
  /* border: 2px solid #017ed2; */
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px 2%;
  box-shadow: 3px 3px 5px black;
}

select {
  padding: 5px 1%;
  margin-bottom: 10px;
}

input {
  padding: 5px 1%;
  margin-bottom: 10px;
}

.smurfs-wrapper {
  padding: 10px 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.smurf-card {
  background-color: white;
  /* border: 2px solid #017ed2; */
  border-radius: 20px;
  width: 300px;
  padding: 10px 1%;
  margin: 10px 1%;
  box-shadow: 3px 3px 5px black;
}

button {
  background-color: #017ed2;
  color: white;
  border: 2px solid #017ed2;
  border-radius: 12px;
  padding: 5px 5%;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: white;
  color: #017ed2;
}

.card-button {
  margin: 0 1%;
}

h4 {
  margin: 5px;
}

@media screen and (max-width: 599px) {
  .forms-wrapper {
    flex-direction: column;
  }

  .smurf-form {
    width: 90%;
  }
}
